*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #aa3e98;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: seashell;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskrpsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: #aa3e98;
}

h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #aa3e98;
    width: 100%;
    line-height: 50px;
    position: relative;
}

h3 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
    color: #aa3e98;
    width: 100%;
    line-height: 50px;
    position: relative; 
}
h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #aa3e98;
    width: 100%;
    line-height: 50px;
    position: relative;
}

.tengah {
    text-align: center;
    width: 100%;
}

.activity-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.activity-img {
    width: 20%;
    margin: 0 aut0;
}

.activity-img img {
    width: 80%;
    border-radius: 50%;
}

.activity-img p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: black;
}

.tengah {
    text-align: center;
    width: 100%;
}

.hobby {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.hobby1 {
    width: 20%;
    margin: 0 auto;
}

.hobby1 img {
    width: 80%;
    border-radius: 50%;
}

.hobby1 p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: black;
}